.tr[record]
  .td= record.occured_at.strftime('%e %b %Y %H:%M')
  .td
    = record.source_account
    = " => #{record.target_account}" if record.transfer?
  .td
    = record.source_amount_text
    = "=> #{record.target_amount_text}" if record.target_amount_text
  .td
    - record.tags.each do |tag|
      %p= tag
  .td= record.group.presence
  .td= record.party.presence
  .td= record.note
  .td= link_to 'Edit', edit_record_path(record), remote: true
