%h1.page-header Records
.table-responsive
  %table.table.table-striped
    %tr
      %th Date
      %th Account
      %th Amount
      %th Tags
      %th Group
    - @records.each do |record|
      %tr
        %td= record.occured_at.strftime('%e %b %Y %H:%M')
        %td
          = record.source_account
          = " => #{record.target_account}" if record.transfer?
        %td
          = record.source_amount_text
          = "=> #{record.target_amount_text}" if record.target_amount_text
        %td
          - record.tags.each do |tag|
            %p= tag
        %td
          = record.group.presence
= paginate @records