.row
  .col-md-6
    = simple_form_for @importer do |f|
      = f.error_notification
      = f.input :name
      = f.input :encoding, as: :select, collection: ['utf-8', 'windows-1251']
      = f.input :column_separator
      = f.input :date_field
      = f.input :amount_field
      = f.input :foreign_amount_field
      = f.input :description_field
      = f.button :submit, @importer.new_record? ? 'Create' : 'Update'
