%table.table.table-striped
  %tr
    %th Date
    %th Account
    %th Amount
    %th Tags
    %th Group
    %th Note
  - @importer_session.importer_session_items.map(&:record).each do |record|
    %tr
      %td= record.occured_at.strftime('%e %b %Y %H:%M')
      %td
        = record.source_account
        = " => #{record.target_account}" if record.transfer?
      %td
        = record.source_amount_text
        = "=> #{record.target_amount_text}" if record.target_amount_text
      %td
        - record.tags.each do |tag|
          %p= tag
      %td= record.group.presence
      %td= record.note

= link_to 'Abort', @importer_session, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}