%h1.page-header Import rules
.table-responsive
  %table.table.table-striped
    %tr
      %th Trigger
      %th
    - @rules.each do |rule|
      %tr
        %td= rule.trigger
        %td
          = link_to 'Edit', edit_rule_path(rule), class: 'btn btn-warning'
          = link_to 'Delete', rule, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}
        %td
= paginate @rules

= link_to 'Add rule', new_importer_rule_path, class: 'btn btn-primary'
