!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{rel: 'shortcut icon', href: 'data:image/x-icon;,', type: 'image/x-icon'}
    %title CashTrails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: root_path} Cashtrails
        .navbar-collapse.collapse
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              = link_to 'Accounts', accounts_path
              = link_to 'Records', records_path
          %ul.nav.nav-sidebar
            %li
              = link_to 'Import', importers_path
          %ul.nav.nav-sidebar
            %li
              = link_to 'Upload db', new_database_path
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          %p#notice= notice
          = yield
